body{
    font-family: 'Bona Nova', serif;
    font-family: 'Poppins', sans-serif;
    margin-left:40px;
}

/* navbar section */
.navSection{
    display: flex;
    justify-content: space-around;
}
.logo{
    width:50%;
}
.logo img{
    width:10%;
}


ul.nav {
    margin:0;
	padding:0;
	list-style:none;
	height:36px; 
    line-height:36px;
	background:#F59560; 
	font-size:13px;
   
}
ul.nav li {
	border-right:1px solid #189b80;
	float:left;
}
ul.nav a {
	display:block;
	padding:0 28px;
	text-decoration:none;
    color:#ddd;
}
ul.nav a:hover,
ul.nav li.current a {
	background:#32A8EF;
}

/* banner section */

.banner-section{
    display: flex;
}
.banner-text{
    margin-left: 30px;
}
.banner-text h1,h2{
    color: #575757;
}
.banner-text h1{
    font-size: 30px;
    font-weight: 800;
   
}
span{
    color: #45A049;
}
.banner-img img{
    width:40%;
    float: right;
    margin-right:10%;
}

/* button{
    padding: 15px;
    border-radius: 5px;
    background-color: #F59560;
    color: #FFFFFF;
    border: none;

} */

.gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}

.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
.gradient-button-1:hover { background-position: right center; }

/* about me section */

.about-me{
    background-image: url('./images/shapes/Frame\ 58.jpg');
    display: flex;
    background-size: cover;
    justify-content: space-between;
   
}

.about-img img{
    margin-left: 90px;
}


.about-text{
    color: #575757;
    margin-top: 100px;
    margin-right: 40px;
}

/* recipies section */

.recepie-text{
    text-align: center;
    line-height: 1.5;
}

.recepie-list{
    display: flex;
    justify-content: space-between;
   
}

.recipie-one{
     width:30%; 
     margin-right: 20px; 
    border: 1px solid #CCCCCC;
    padding: 20px;
    border-radius: 5%;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .recipie-one img{
    background-size: cover;
    width: 100%;
    height: 350px;
} 

/* subscriber option */

.subscriber-list{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
}

/* contact section */

.contact-sec{
    display: flex;
    justify-content: space-around;
}
.contact-form{
    width: 80%;
}
 input[type=text], select, textarea {
     width: 80%; 
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  } 

  /* footer section */
  
  .footer-sec{
      padding: 10px;
      text-align: center;
      background-image: url(images/shapes/Frame\ 58.jpg);
      background-size: cover;
      background-repeat: no-repeat;
  }